---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="main">
    {% if paginator.total_pages > 1 %}
    <nav class="pagination fn-clear">
        <ul class="pagination-list">
            {% assign index1 = paginator.page|plus:1 %}
            {% assign index2 = paginator.page|plus:2 %}
            {% if index1 > paginator.total_pages %}
              <li><a href="/page{{paginator.page|plus:-4}}">{{paginator.page|plus:-4}}</a></li>
            {% endif %}
            {% if index2 > paginator.total_pages %}
                <li><a href="/page{{paginator.page|plus:-3}}">{{paginator.page|plus:-3}}</a></li>
            {% endif %}
            {% if paginator.page >=4 %}
                <li><a href="/page{{paginator.page|plus:-2}}">{{paginator.page|plus:-2}}</a></li>
            {% else if paginator.page == 3%}
                <li><a href="/">1</a></li>
            {% endif %}
            {% if paginator.page >=3 %}
                <li><a href="/page{{paginator.page|plus:-1}}">{{paginator.page|plus:-1}}</a></li>
            {% else if paginator.page == 2%}
                <li><a href="/">1</a></li>
            {% endif %}
                <li class="current"><a href="javascript:;">{{paginator.page}}</a></li>
            {% if index1 <= paginator.total_pages %}
                <li><a href="/page{{paginator.page|plus:1}}">{{paginator.page|plus:1}}</a></li>
            {% endif %}
            {% if index2 <= paginator.total_pages %}
                <li><a href="/page{{paginator.page|plus:2}}">{{paginator.page|plus:2}}</a></li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}
</div>