@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:bold);
/*

Copyright Stephen McDonald. Please see LICENSE.
https://github.com/stephenmcd/stephenmcd.github.com/blob/master/LICENSE

*/
body {font-size:16px;padding-top: 70px; -webkit-text-size-adjust: 100%;}
.container {width:800px; font-family:Palatino, Georgia, serif;}
/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }
footer {border-top:3px solid #eee; margin:30px 0; padding-top:13px;}
.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}
h1 {
    font-size:30px; letter-spacing:-1px; border-bottom:3px solid #eee;
    padding:10px 0; margin:20px 0 0 0;
}
h4 {margin:30px 0 0 0; font-size:19px; line-height:22px;}
h6 {margin:25px 0 10px 0; font-size:14px; color:#BFBFBF; text-transform:uppercase;}
h6 a {font-weight:normal;}

.twitter-follow-button {float:right; margin-top:40px;}

p {margin:15px 0;} /* text-align:justify;} */
p, li {line-height:150%;}
ul, ol {margin-top:15px;}
.date {color:grey; font-size:13px;}
.arrow {margin:0 5px; color:#666;}
.tags li {color:gray; white-space:nowrap; display:inline-block;}
.title {float:left; min-width:170px;}
li em {color:#bfbfbf; margin-left:4px; white-space:nowrap;}
.bar {background:#eee; height:14px; margin-top:4px; float:right; cursor:default;}
.bar:hover {text-decoration:none; background:#ccc;}
.tooltip {font-family:sans-serif;}
.totals {text-align:right; font-style:italic; color:#ddd; margin:7px 0 -10px 0; font-size:11px;}

code {background:#eee; border-color:#eee; white-space:nowrap;}
pre {background:#222; padding:15px;}
pre code {padding:0; background-color:inherit !important; white-space:pre-wrap;}
pre code * {
    font-weight:normal !important; background-color:inherit !important;
    text-decoration:none !important;
}
.date, code, code * {font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;}
pre {line-height:18px;}
pre, table {margin:20px 0;}

td, tr {padding:10px 5px;}
th {white-space:nowrap;}
th em {display:block; font-weight:normal; line-height:20px;}
th.r, td.r {text-align:right !important; padding-right:40px !important;}
tr.top th, td.y, td.n {text-align:center;}
td.y {color:green;}
td.n {color:red;}
td a, td em {white-space:nowrap;}
td p {margin:20px 0;}

blockquote {margin:30px;}
blockquote p {font-style:italic;}

img.full {width:100%;}

.main img {
    border:10px solid #fff;
    margin:10px;
    -moz-box-shadow:    0 0 10px 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,.3);
    box-shadow:         0 0 10px 0px rgba(0,0,0,.3);
}


.main .pagination {
    line-height: 32px;
    padding-top: 20px;

}
.main .pagination li {
    float: left;
    margin: 0 10px 10px 0;
}

.main .pagination-icon {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #fefefe;
    background: #99b9c4;
}
.main .pagination-list {
    margin-left: 10px;
    width: 550px;
    list-style-type: none;
    height: 32px;
    line-height: 32px;
    float: left;
}
.main .pagination-list li a {
    width: 32px;
    height: 32px;
    display: block;
    background: #f2eeec;
    text-align: center;
}
.main .pagination-list .current a {
    background: #e54e4d;
    color: #fefefe;
}

.main .pagination-list li a:hover {
    color: #45625d;
    border-bottom: none;
}

#coderwall {display:none; margin:30px -40px 20px 0;}
#coderwall h6 {margin-bottom:15px;}
#coderwall img, .noborder {
    -moz-box-shadow:    none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
}

.noborder {border:0 !important; margin:0 !important;}
#coderwall img {padding:0; width:63px; height:63px; margin:0 10px 5px -5px; border:0;}

.side-thumb {float:right; width:320px; text-align:center;
             margin:-20px 0 0 40px; font-style:italic;}
.side-thumb img {margin-top:20px;}

em.center {text-align:center; display:block; margin:25px 0;}
em img {margin-bottom:5px;}
em a {font-style:italic;}

#vimeo {width: 664px; height: 383px; margin:10px 0;}
.speakerdeck-iframe {margin:20px 0 !important;}

.footer-right {float:right; margin-top:10px; width:190px; text-align:right; white-space:nowrap;}
.footer-right img {width:60px; height:60px; float:left;}
.footer-right h2 {
    text-decoration:none; font-family:'Yanone Kaffeesatz';
    font-weight:bold; color:#666; line-height:18px;
}
.footer-right .jupo:hover {text-decoration:none;}
.footer-right a {font-size:14px; line-height:30px}

.drop-cap {
    float: left; font-size: 84px; line-height: 83px;
    padding: 0 3px 0 0; margin-bottom: -15px;
}

@media all and (max-width: 640px) {
    .container {width:auto; padding-left:10px; padding-right:10px;}
    .bar {display:none;}
    .title, .date {display:block; float:none;}
    footer li {margin-bottom:10px;}
    .footer-right {margin:10px 5px 0 0;}
    .highlight {overflow-x:scroll;}
    pre {width:618px;}
}

.ad {
    width:100%; color:#666; background:#eee; padding:8px;
    text-align:center; font-size:15px;
    position:fixed; top:0;
}
body {padding-top:40px;}
.ad a {text-decoration:underline;}
/*.qrcode{margin:0 0 10px 10px;float:right}*/
/* fixed */
.fixed{position:fixed;width:72px;height:176px;right:25px;bottom:50px;_position: absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));z-index:999;}
.fixed a{display:block;width:72px;height:58px;}
.book{background:url(/static/img/fixed.jpg) 0 0 no-repeat;}
.book:hover{background-position:-72px 0;}
.fixed a.codepic{background:url(/static/img/fixed.jpg) 0 -58px no-repeat;height:58px;}
.fixed a.codepic:hover{background-position:-72px -58px;}
.fixed div{position:relative;}
.fixed a.backup{background:url(/static/img/fixed.jpg) 0 -117px no-repeat;height:58px;}
.fixed a.backup:hover{background-position:-72px -116px;height:58px;}
.fixed #code {position:absolute;left:-196px;width:196px;height:196px;top:-50px;display:none;}


.timeline-container { margin: 20px 0; position: relative; }
.timeline-container:before { content: ' '; width: 4px; margin-left: -2px; top: 10px; background-color: #e9f0f5; height: 100%; position: absolute; }

.timeline-block { margin: 10px; position: relative; pointer-events: none; }
.timeline-block:before { content: ' '; width: 16px; height: 16px; margin-left: -8px; margin-top: 0px; border-radius: 8px; background-color: #1abc9c; position: absolute; top: 10px; transition: 0.3s; }
.timeline-block:after { content: ' '; display: table; clear: both; }
.timeline-block:hover:before { background-color: #55e7ca; }

.timeline-content { padding: 10px; background-color: #e9f0f5; position: relative; pointer-events: auto; }
.timeline-content:before { content: ' '; height: 0; width: 0; position: absolute; border-top: 8px solid transparent; border-bottom: 8px solid transparent; top: auto; }
.timeline-content a { color: #555; font-weight: normal; }

@media (min-width: 96em) { .timeline-container:before { left: 50%; }
  .timeline-block:before { left: 50%; }
  .timeline-block:nth-child(even) .timeline-content { float: right; }
  .timeline-block:nth-child(even) .timeline-content:before { border-right: 8px solid #e9f0f5; margin-left: -18px; }
  .timeline-block:nth-child(odd) .timeline-content { text-align: right; float: left; }
  .timeline-block:nth-child(odd) .timeline-content:before { border-left: 8px solid #e9f0f5; margin-left: 10px; }
  .timeline-content { width: 46.5%; } 
 }
@media (max-width: 96em) { .timeline-container { padding-left: 15px; }
  .timeline-block:before { margin-left: -18px; }
  .timeline-content { margin: 15px 20px; margin-right: 0; }
  .timeline-content:before { border-right: 8px solid #e9f0f5; margin-left: -18px; }
   .fixed {display:none} }
.tc-title { font-size: 2.4rem; }
.tc-title > a { transition: 0.2s; }
.tc-title > a:hover { color: #1abc9c; text-decoration: none; }

.tc-tags { margin-top: 2px; font-size: 1.6rem; }
.tc-tags a { display: inline-block; padding: 1px 5px; background-color: #627281; color: white; border-radius: 3px; }  
