<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-controller="NarrowItDownController as narrowItCtrl">
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="narrowItCtrl.searchStr" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowItCtrl.onNarrowItDownCLick()">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->

    <!-- <found-items found-items="...." on-remove="(index)"></found-items> -->

    <found-items found="narrowItCtrl.found"
                 on-remove="narrowItCtrl.removeItem(index)"
                 show-nothing-found="narrowItCtrl.showNothingFound"></found-items>

  </div>
</body>
</html>
