<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as ctrl'>
    <h1>Narrow Down Your Chinese Menu Choices</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model='ctrl.searchTerm'>
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click='ctrl.searchItem()'>Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items found='ctrl.found' on-remove='ctrl.remove(index)' empty='ctrl.empty'></found-items>
  </div>

</body>
</html>
