---
layout: default
---
<script src="/static/js/jquery.qrcode.min.js"></script>
<article class="post">
  <h1>{{ page.title }}</h1>
  {% if page.tags.size > 0%}<b>标签：</b>{% for tag in page.tags %}{% if tag != "" %}<a href="/tags/#{{ tag }}"><i>{{ tag }}</i></a>{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}{% endif %}
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date:"%Y-%m-%d" }}
  </div>
  <!-- next and previous -->
<div style="margin-top:15px; margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    上篇：
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%}
  {%if page.next%}
  <div style="float:right">
  <span class="prev" >
    下篇：
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  </div>
  {%endif%}
</div>
<hr>
  <!-- JiaThis Button BEGIN -->
    <div id="ckepop">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_weixin">微信</a>
      <a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
      <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
<!-- JiaThis Button END -->

<div class="fixed">
      <a href="javascript:;" title="二维码" class="codepic"></a>
      <a href="javascript:;" title="返回顶部" class="backup"></a>
      <div id="code">

      </div>
</div>
<script type="text/javascript">
  $("#code").qrcode({
  	height: 196,
    width: 196,
    text: "http://www.zhuangyan.cn{{ page.url }}"
  });
  $('.codepic').hover(function(){$('#code').fadeIn()},function(){$('#code').fadeOut()});
  $('.backup').click(function(){
    $('body,html').animate({scrollTop:0},500)
  });
  $(".backup").hide();
  $(function() {
    $(window).scroll(function(){
      if ($(window).scrollTop()>500){
        $(".backup").fadeIn(1000);
      }else{
        $(".backup").fadeOut(1000);
      }
    });
  });

</script>

   <!-- {% include disqus.html %} -->
</article>
