---
layout: default
---
<script src="/static/js/jquery.qrcode.min.js"></script>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
  	<div id="code" class="qrcode visible-lg"></div>
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>


<script type="text/javascript">
  $("#code").qrcode({
  	height: 150,
    width: 150,    
    text: http:"{{ site.url }}{{ page.url }}"
  });
</script>

  {% include duoshuo.html %}
</article>
